.Rproj.user
.Rhistory
*.RData
.RData
.Rbuildignore
.Ruserdata
*.png
*.pdf
src/*.o
src/*.so
src/*.dll
.DS_Store
output/
inst/backup/
./inst/backup/
./inst/backup/*
inst/tutorial_cache/
inst/tutorial_files/
inst_test/
